.App {  
  display: flex;
  text-align: center;
  background-color: #7083a1;
}

/* Html */

html,
body {
  margin: 0 !important;
  font-family: 'Raleway', sans-serif !important;

}

/* Sidebar */
.menu {
width: 20%;
margin-top: 20%;
overflow: hidden;
position: fixed;
z-index: 1000;
}
.menu-item {
  margin-bottom: 5%;
  color: white;
}
.menu-item:hover {
  text-decoration: none;
  font-weight: bold;
}

/* Intro */

.container{
background-color: #a1b5d6;
height: 3000px;
max-width: 3000px !important;
margin-left: 20% !important;
}

h1 {
color: white;
margin-top: 25%!important;
}

.sea {
width: 450px;
height: 300px;
}

.projectone {
  text-align: left !important;
  margin-top: 40%;
  margin-left: -1.4%;
}

.columns {
  margin-left: 5%;
  width: 50%;
}